@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Inter', sans-serif;
}

* {
  cursor: url('/leaf-cursor.svg') 4 28, auto;
}

button, a, [role="button"] {
  cursor: url('/leaf-cursor.svg') 4 28, pointer;
}
